{
  "$schema": "https://opencode.ai/config.json",
  "theme": "catppuccin",
  "provider": {
    "google": {
      "npm": "@ai-sdk/google",
      "models": {
        "gemini-3-pro-preview": {
          "id": "gemini-3-pro-preview",
          "name": "Gemini 3 Pro Preview",
          "release_date": "2025-11-18",
          "reasoning": true,
          "limit": {
            "context": 1000000,
            "output": 64000
          },
          "cost": {
            "input": 2,
            "output": 12,
            "cache_read": 0.2
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "video",
              "audio",
              "pdf"
            ],
            "output": [
              "text"
            ]
          }
        },
        "gemini-3-pro-high": {
          "id": "gemini-3-pro-preview",
          "name": "Gemini 3 Pro Preview (High Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "high",
              "includeThoughts": true
            }
          }
        },
        "gemini-3-pro-medium": {
          "id": "gemini-3-pro-preview",
          "name": "Gemini 3 Pro Preview (Medium Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "medium",
              "includeThoughts": true
            }
          }
        },
        "gemini-3-pro-low": {
          "id": "gemini-3-pro-preview",
          "name": "Gemini 3 Pro Preview (Low Thinking)",
          "options": {
            "thinkingConfig": {
              "thinkingLevel": "low",
              "includeThoughts": true
            }
          }
        },
        "gemini-3-flash": {
          "id": "gemini-3-flash",
          "name": "Gemini 3 Flash",
          "release_date": "2025-12-17",
          "reasoning": true,
          "limit": {
            "context": 1048576,
            "output": 65536
          },
          "cost": {
            "input": 0.5,
            "output": 3,
            "cache_read": 0.05
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "video",
              "audio",
              "pdf"
            ],
            "output": [
              "text"
            ]
          }
        },
        "gemini-claude-sonnet-4-5-thinking-high": {
          "id": "gemini-claude-sonnet-4-5-thinking",
          "name": "Claude Sonnet 4.5 (High Thinking)",
          "release_date": "2025-11-18",
          "reasoning": true,
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "cost": {
            "input": 3,
            "output": 15,
            "cache_read": 0.3
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "options": {
            "thinkingConfig": {
              "thinkingBudget": 32000,
              "includeThoughts": true
            }
          }
        },
        "gemini-claude-sonnet-4-5-thinking-medium": {
          "id": "gemini-claude-sonnet-4-5-thinking",
          "name": "Claude Sonnet 4.5 (Medium Thinking)",
          "release_date": "2025-11-18",
          "reasoning": true,
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "cost": {
            "input": 3,
            "output": 15,
            "cache_read": 0.3
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "options": {
            "thinkingConfig": {
              "thinkingBudget": 16000,
              "includeThoughts": true
            }
          }
        },
        "gemini-claude-sonnet-4-5-thinking-low": {
          "id": "gemini-claude-sonnet-4-5-thinking",
          "name": "Claude Sonnet 4.5 (Low Thinking)",
          "release_date": "2025-11-18",
          "reasoning": true,
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "cost": {
            "input": 3,
            "output": 15,
            "cache_read": 0.3
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "options": {
            "thinkingConfig": {
              "thinkingBudget": 4000,
              "includeThoughts": true
            }
          }
        },
        "gemini-claude-opus-4-5-thinking-high": {
          "id": "gemini-claude-opus-4-5-thinking",
          "name": "Claude Opus 4.5 (High Thinking)",
          "release_date": "2025-11-24",
          "reasoning": true,
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "cost": {
            "input": 5,
            "output": 25,
            "cache_read": 0.5
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "options": {
            "thinkingConfig": {
              "thinkingBudget": 32000,
              "includeThoughts": true
            }
          }
        },
        "gemini-claude-opus-4-5-thinking-medium": {
          "id": "gemini-claude-opus-4-5-thinking",
          "name": "Claude Opus 4.5 (Medium Thinking)",
          "release_date": "2025-11-24",
          "reasoning": true,
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "cost": {
            "input": 5,
            "output": 25,
            "cache_read": 0.5
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "options": {
            "thinkingConfig": {
              "thinkingBudget": 16000,
              "includeThoughts": true
            }
          }
        },
        "gemini-claude-opus-4-5-thinking-low": {
          "id": "gemini-claude-opus-4-5-thinking",
          "name": "Claude Opus 4.5 (Low Thinking)",
          "release_date": "2025-11-24",
          "reasoning": true,
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "cost": {
            "input": 5,
            "output": 25,
            "cache_read": 0.5
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "options": {
            "thinkingConfig": {
              "thinkingBudget": 4000,
              "includeThoughts": true
            }
          }
        }
      }
    }
  },
  "enabled_providers": [
    "google",
    "opencode"
  ],
  "share": "manual",
  "permission": {
    "bash": {
      "git commit*": "ask",
      "git add*": "ask",
      "git push*": "ask",
      "git pull*": "ask",
      "git merge*": "ask",
      "git rebase*": "ask",
      "git reset*": "ask",
      "git checkout*": "ask",
      "git status": "allow",
      "git log": "allow",
      "git diff": "allow",
      "git branch": "allow"
    },
    "doom_loop": "ask"
  },
  "autoupdate": false,
  "small_model": "opencode/grok-code",
  "plugin": [
    "opencode-google-antigravity-auth@latest",
    "oh-my-opencode"
  ],
  "mcp": {
    "searxng": {
      "type": "local",
      "enabled": false,
      "command": [
        "bunx",
        "mcp-searxng"
      ],
      "environment": {
        "SEARXNG_URL": "https://searxng.{{- .nasSite -}}"
      }
    },
    "github": {
      "type": "local",
      "enabled": false,
      "command": [
        "github-mcp-server",
        "stdio"
      ],
      "environment": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{- .GithubKey -}}"
      }
    }
  }
}
// vim: ft=jsonc
