{{- $email := (hasKey . "email") | ternary (index . "email") (promptStringOnce . "email" "Email address") -}}
{{- $name := (hasKey . "name") | ternary (index . "name") (promptStringOnce . "name" "Username") -}}
{{- $macAddress := (hasKey . "macAddress") | ternary (index . "macAddress") (promptStringOnce . "macAddress" "Mac IP address") -}}
{{- $macUser := (hasKey . "macUser") | ternary (index . "macUser") (promptStringOnce . "macUser" "Mac username") -}}
{{- $tnasAddress := (hasKey . "tnasAddress") | ternary (index . "tnasAddress") (promptStringOnce . "tnasAddress" "TNAS IP address") -}}
{{- $tnasUser := (hasKey . "tnasUser") | ternary (index . "tnasUser") (promptStringOnce . "tnasUser" "TNAS username") -}}
{{- $archAddress := (hasKey . "archAddress") | ternary (index . "archAddress") (promptStringOnce . "archAddress" "Arch IP address") -}}
{{- $archUser := (hasKey . "archUser") | ternary (index . "archUser") (promptStringOnce . "archUser" "Arch username") -}}
{{- $nasSite := (hasKey . "nasSite") | ternary (index . "nasSite") (promptStringOnce . "nasSite" "NAS Website") -}}
{{- $gcp_id := (hasKey . "gcp_project_id") | ternary (index . "gcp_project_id") (promptStringOnce . "gcp_project_id" "GCP Project ID") -}}

encryption = "age"

[age]
    identity = "~/.config/key.txt"
    recipient = "age1jgcaj9yy8nldpp2969kgxf97re59v6ydnk5ctz02z8anc4522pxswpcqf2"

[git]
    autoCommit = true
    autoPush = true

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    macAddress = {{ $macAddress | quote }}
    macUser = {{ $macUser | quote }}
    tnasAddress = {{ $tnasAddress | quote }}
    tnasUser = {{ $tnasUser | quote }}
    archAddress = {{ $archAddress | quote }}
    archUser = {{ $archUser | quote }}
    nasSite = {{ $nasSite | quote }}
    gcp_project_id = {{ $gcp_id | quote }}
    {{ if eq .chezmoi.os "linux" }}
    {{- $keyboard := promptStringOnce . "keyboard" "Enter 'laptop' or 'desktop' ..." -}}
    keyboard = {{ $keyboard | quote }}
    {{ else -}}
    keyboard = "desktop"
    {{- end }}
# vim: ft=toml
