{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Username" -}}
{{- $macAddress := promptStringOnce . "macAddress" "Mac IP address" -}}
{{- $macUser := promptStringOnce . "macUser" "Mac username" -}}
{{- $tnasAddress := promptStringOnce . "tnasAddress" "TNAS IP address" -}}
{{- $tnasUser := promptStringOnce . "tnasUser" "TNAS username" -}}
{{- $archAddress := promptStringOnce . "archAddress" "Arch IP address" -}}
{{- $archUser := promptStringOnce . "archUser" "Arch username" -}}
{{- $nasSite := promptStringOnce . "nasSite" "NAS Website" -}}

encryption = "age"

[age]
    identity = "~/.config/key.txt"
    recipient = "age1jgcaj9yy8nldpp2969kgxf97re59v6ydnk5ctz02z8anc4522pxswpcqf2"

[git]
    autoCommit = true
    autoPush = true

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    MacAddress = {{ $macAddress | quote }}
    MacUser = {{ $macUser | quote }}
    TnasAddress = {{ $tnasAddress | quote }}
    TnasUser = {{ $tnasUser | quote }}
    ArchAddress = {{ $archAddress | quote }}
    ArchUser = {{ $archUser | quote }}
    nasSite = {{ $nasSite | quote }}
    {{ if eq .chezmoi.os "linux" }}
    {{- $keyboard := promptStringOnce . "keyboard" "Enter 'laptop' or 'desktop' ..." -}}
    keyboard = {{ $keyboard | quote }}
    {{ else -}}
    keyboard = "desktop"
    {{- end }}
# vim: ft=toml
