<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.joncrangle.llm</string>
    <key>ProgramArguments</key>
    <array>
	<string>sh</string>
	<string>-c</string>
	<string>cd /Users/jonathancrangle/Documents/Code/ComfyUI/ &amp;&amp; /opt/homebrew/bin/uv run main.py --listen 0.0.0.0</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/start_webui.err</string>
</dict>
</plist>
