{
  "mcpServers": {
    "context7": {
      "command": "bunx",
      "args": [
        "@upstash/context7-mcp@latest"
      ],
      "disabled": true
    },
    "memory": {
      "command": "bunx",
      "args": [
        "@modelcontextprotocol/server-memory"
      ],
      "disabled": true
    },
    "github": {
      "disabled": true,
      "disabled_tools": [
        "add_issue_comment",
        "create_branch",
        "create_issue",
        "create_or_update_file",
        "create_pull_request",
        "create_pull_request_review",
        "create_repository",
        "fork_repository",
        "get_code_scanning_alert",
        "get_file_contents",
        "get_issue",
        "get_issue_comments",
        "get_me",
        "get_pull_request",
        "get_pull_request_comments",
        "get_pull_request_files",
        "get_pull_request_reviews",
        "get_pull_request_status",
        "list_code_scanning_alerts",
        "list_commits",
        "list_issues",
        "list_pull_requests",
        "merge_pull_request",
        "push_files",
        "search_issues",
        "search_users",
        "update_issue",
        "update_pull_request_branch"
      ],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{- .GithubKey -}}"
      },
      "command": "github-mcp-server",
      "args": [
        "stdio"
      ]
    },
    "fetch": {
      "command": "uvx",
      "args": [
        "mcp-server-fetch"
      ],
      "disabled": false
    },
    "time": {
      "command": "uvx",
      "args": [
        "mcp-server-time",
        "--local-timezone=America/New_York"
      ],
      "disabled": true
    },
    "sequentialthinking": {
      "command": "bunx",
      "args": [
        "@modelcontextprotocol/server-sequential-thinking"
      ],
      "disabled": true
    }
  },
  "nativeMCPServers": {
    "neovim": {
      "disabled": true,
      "disabled_tools": [
        "execute_lua"
      ],
      "disabled_prompts": [
        "parrot"
      ]
    },
    "mcphub": {
      "disabled": false,
      "disabled_resources": [
        "mcphub://docs",
        "mcphub://native_server_guide",
        "mcphub://changelog"
      ],
      "disabled_prompts": [
        "create_native_server"
      ]
    }
  }
}
