# NOTE:
#   (`-')   (`-').-> (`-').->
#   ( OO).->( OO)_   (OO )__
# ,(_/----.(_)--\_) ,--. ,'-'
# |__,    |/    _ / |  | |  |
#  (_/   / \_..`--. |  `-'  |
#  .'  .'_ .-._)   \|  .-.  |
# |       |\       /|  | |  |
# `-------' `-----' `--' `--'
# ##############################
# #      ZSH CONFIGURATION     #
# ##############################

HISTORY_IGNORE="(ls|cd|pwd|zsh|exit|cd ..)"
HISTSIZE=10000
SAVEHIST=10000
LISTMAX=1000
COREPACK_ENABLE_AUTO_PIN=0

cdpath=("$HOME" .. $HOME/*(N-/) $HOME/.config)

{{ if eq .chezmoi.os "linux" }}
FPATH="/usr/share/zsh/site-functions:${FPATH}"
{{ else }}
FPATH="opt/homebrew/share/zsh/site-functions:${FPATH}"
{{ end }}

function zvm_config() {
  ZVM_VI_SURROUND_BINDKEY=s-prefix
  ZVM_VI_HIGHLIGHT_FOREGROUND=#cdd6f4
  ZVM_VI_HIGHLIGHT_BACKGROUND=#45475a
  ZVM_VI_HIGHLIGHT_EXTRASTYLE=bold
  ZVM_INIT_MODE=sourcing
}

source "$ZDOTDIR/options.zsh"
source "$ZDOTDIR/aliases.zsh"
source "$ZDOTDIR/banner.zsh"
{{ if eq .chezmoi.os "linux" }}
source "/usr/share/zsh-antidote/antidote.zsh"
{{ else }}
source "$HOMEBREW_DIR/opt/antidote/share/antidote/antidote.zsh"
{{ end }}

[ -s "~/.bun/_bun" ] && source "~/.bun/_bun"
{{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
eval "$(starship init zsh)"
eval "$(mise activate zsh)"
precmd_functions=(zvm_init "${(@)precmd_functions:#zvm_init}")
precmd_functions+=(set-long-prompt)
zvm_after_init_commands+=("zle -N zle-line-finish; zle-line-finish() { set-short-prompt }")

set-long-prompt() {
    PROMPT=$(starship prompt)
    RPROMPT=""
}

export COLUMNS=$(($COLUMNS + ($COLUMNS*0.1)))
set-short-prompt() {
    PROMPT="$(STARSHIP_KEYMAP=${KEYMAP:-viins} starship module character)"
    RPROMPT=$'%{\e[999C%}\e[8D%F{8}%*%f ' # remove if you don't want right prompt
    zle .reset-prompt 2>/dev/null # hide the errors on ctrl+c
}

zle-keymap-select() {
    set-short-prompt
}
zle -N zle-keymap-select

zle-line-finish() { set-short-prompt }
zle -N zle-line-finish

trap 'set-short-prompt; return 130' INT

zvm_after_init_commands+=('
  function zle-keymap-select() {
    if [[ ${KEYMAP} == vicmd ]] ||
       [[ $1 = "block" ]]; then
      echo -ne "\e[1 q"
      STARSHIP_KEYMAP=vicmd
    elif [[ ${KEYMAP} == main ]] ||
         [[ ${KEYMAP} == viins ]] ||
         [[ ${KEYMAP} = "" ]] ||
         [[ $1 = "beam" ]]; then
      echo -ne "\e[5 q"
      STARSHIP_KEYMAP=viins
    fi
    zle reset-prompt
  }
  zle -N zle-keymap-select

  # Ensure vi mode is set
  zle-line-init() {
    zle -K viins
    echo -ne "\e[5 q"
  }
  zle -N zle-line-init
')

zstyle ':fzf-tab:*' default-color ""
zstyle ':fzf-tab:*' use-fzf-default-opts yes

antidote load

source <(fzf --zsh)
source <(COMPLETE=zsh jj)
source <(mise completion zsh)
# vim: ft=zsh
