{
  "lastChangelogVersion": "{{- $pi := "" -}}{{- if eq .chezmoi.os "windows" -}}{{- $pi = joinPath .chezmoi.homeDir "AppData/Local/share/mise/shims/pi.cmd" -}}{{- else -}}{{- $pi = joinPath .chezmoi.homeDir ".local/share/mise/shims/pi" -}}{{- end -}}{{- if stat $pi -}}{{- output $pi "--version" | trim | default "0.79.0" -}}{{- else -}}0.79.0{{- end -}}",
  "defaultProvider": "omlx",
  "defaultModel": "MLX-Qwopus3.5-9B-v3-4bit",
  "defaultThinkingLevel": "high",
  "packages": [
    "npm:pi-mono-usage",
    "file:./extensions/omlx-provider"
  ],
  "enableInstallTelemetry": false,
  "theme": "catppuccin-mocha"
}
